---
layout: compress
---

<!doctype html>
<html lang="{{ site.locale | default: 'en-US' }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{{ page.classes | prepend: ' ' }}" dir="{{ site.text_direction | default: 'ltr' }}">
    <nav class="skip-links" aria-label="{% if page.lang == 'de' %}Sprunglinks{% else %}Skip links{% endif %}">
      <ul>
        <li><a href="#site-nav" class="screen-reader-shortcut">{% if page.lang == 'de' %}Zur Hauptnavigation springen{% else %}Skip to primary navigation{% endif %}</a></li>
        <li><a href="#main" class="screen-reader-shortcut">{% if page.lang == 'de' %}Zum Inhalt springen{% else %}Skip to content{% endif %}</a></li>
        <li><a href="#footer" class="screen-reader-shortcut">{% if page.lang == 'de' %}Zum Footer springen{% else %}Skip to footer{% endif %}</a></li>
      </ul>
    </nav>

    {% include masthead.html %}

    <div class="initial-content">
      {{ content }}

      <div id="footer" class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include_cached footer.html %}
        </footer>
      </div>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        <div class="search-content__inner-wrap">
          <form class="search-content__form" onkeydown="return event.key != 'Enter';" role="search">
            <label class="sr-only" for="search">
              {% if page.lang == 'de' %}Suchbegriff eingeben...{% else %}Enter your search term...{% endif %}
            </label>
            <input type="search" id="search" class="search-input" tabindex="-1" placeholder="{% if page.lang == 'de' %}Suchbegriff eingeben...{% else %}Enter your search term...{% endif %}" />
          </form>
          <div id="results" class="results"></div>
        </div>
      </div>
    {% endif %}

    {% for script in site.footer_scripts %}
      <script src="{{ script | relative_url }}"></script>
    {% endfor %}

    <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>

    {% if site.search == true %}
      <script src="{{ '/assets/js/lunr/lunr.min.js' | relative_url }}"></script>
      <script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
      <script src="{{ '/assets/js/lunr/lunr-en.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>
